body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    height: 100px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
.logo img{
    width: 90px;
    height: 90px;
}
.logo{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
}
nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family: arial;
}
nav a:hover{
    background-color: rgba(255, 0, 0, 0.541);
    color: white;
}
#banner{
    display: flex;
    justify-content: center;
    background-image:url('../img/maint.jpg');
    background-position: center;
    background-size: cover;
    height: 700px;
}
#bannermaint{
    display: flex;
    justify-content: center;
    background-image:url('../img/maint.jpg');
    background-position: center;
    background-size: cover;
    height: 700px;
}
.column{
    flex-direction: column;
}
.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1{
    color: white;
    font-size: 65px;
    text-shadow: 1px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 600px;
}
.banner_headline h2{
    color: white;
    font-size: 22px;
    text-shadow: 1px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}
.banner_options{
    flex: 1;
    height: 210px;
}
#geral{
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text{
    color: black;
    font-size: 22px;
    font-weight: bold;
}
.widget_title_bar{
    width: 80px;
    height: 2px;
    background-color: red;
    margin-top: 10px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
article{
    flex: 1;
    min-width: 300px;
    margin-right: 30px;
}
article a{
    text-decoration: none;
    color: #5c5c5c;
}
article .news_data{
    display: flex;
}
article .news_posted_at{
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 10px;
}
article .news_thumbnail{
    margin-top: 30px;
}

article .news_thumbnail img{
    width: 100%;
    height: auto;
}
article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 27px;
}
article .news_resumo{
    color: #5c5c5c;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 30px;
}
footer{
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
}
.footer_menu{
    text-decoration: none;
    text-shadow: 1px 1px 0px black;
    color: white;
    padding-bottom: 15px;
}
.LinhaMenu{
    height: 1px;
    background-color: rgb(10, 10, 10);
}
@media (max-width: 600px) {
    .banner_headline{
        padding: 20px;
    }
    .banner_headline h1{
        font-size: 55px;
    }
    .banner_headline h2{
        font-size: 18px;
    }
    #geral section{
        padding: 20px;
    }
    .footer_menu{
        padding: 20px;
    }

    #geral section{
        padding: 20px;
    }
    header .container{
        flex-direction: row;
    }
    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: white;
    }
    header{
        height: auto;
    }
    .logo{
        padding: 20px;
    }
    .MenuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

body{
    font-family: 'Titillium Web', sans-serif;
    color: #666666;
    text-align: center;
  }
  .box{
    background-color: #fff;
    width: 500px;
    margin: 50px auto;
  }
  #title {
    font-size: 30px;
    margin-top: 25px;
  }
  #descricao{
    font-size:20px;
    margin: 20px auto;
  }
  #logo {
    margin-top: 25px;
    max-width: 365px;
    height: auto;
  }
  